@import url(../css/global.css);

html {
  font-family: "Inter", monospace !important;
  background-color: #1a1a1a;
  color: #a0a0a0;
  overflow-x: hidden;
}

body {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 160px 24px 160px 24px;
  margin: 0;
  overflow-x: hidden;
}

@media only screen and (max-width: 940px) {
  body {
    padding: 40px 0px 160px 0px !important;
  }
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  color: #ededed;
}

a {
  color: #539bf5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}