html {
  font-family: "Inter", monospace !important;
  background-color: #1a1a1a;
  color: #a0a0a0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

main {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px;
}

main::before {
  background-image: url(../assets/svg/grid.svg);
  background-size: 128px;
  opacity: .3;

  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
}

main > div {
  position: relative;
  width: 100%;
  max-width: 1520px;
}

h1, h2, h3 {
  color: #ededed;
}

a {
  color: #539bf5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.owner {
  font-family: Montserrat Alternates, monospace;
  color: #808080;
}

.slash {
  color: #606060;
  font-size: 1.5rem;
  font-weight: 1000;
  padding: 0px 4px;
}

.repo {
  font-family: Montserrat Alternates, monospace;
}