.ico-btn {
  width: 32px;
  height: 32px;

  max-width: 32px;
  max-height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  transition: background-color 0.05s;
}

.ico-btn:hover {
  background-color: #fff2;
}

.ico-btn svg {
  width: 24px;
  height: 24px;
  color: #fffd;
}